<div class="container me">
  <div class="row">
    <div class="col-lg-5 col-12 col-images ">
    </div>
    <div class="col-lg-7 col-12 p-5 text-center col-content ">
      <h1 class="title py-3"><%= @me["title"] %></h1>
      <h2 class="pb-5 catchphrase"><%= @me["catchphrase"] %></h2>
      <div class="sections text-start">
        <h3 class=" pb-2 border-bottom my-4"><%= @me["sections"].first["title"] %></h3>
        <p> <%= @me["sections"].first["content"] %> </p>
      </div>
      <% @me["sections"].filter{|sec| sec["title"]==="Work experience" || sec["title"]==="Education" }.each do |section| %>
        <div class="sections text-start">
          <h3 class=" pb-2 border-bottom my-4"><%= section["title"] %></h3>
          <% section["experiences"].each do |experience| %>
            <h4><%= experience["job"]%> <a href=<%= experience["place-link"] %> target="_blank">@<%= experience["place"] %></a></h4>
            <h5><%= experience["time"] %></h5>
            <ul class="px-0 py-2">
              <% experience["aspects"].each do |aspect| %>
                <li><%= aspect %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
      <div class="sections text-start">
        <h3 class=" pb-2 border-bottom my-4"><%= @me["sections"][3]["title"] %></h3>
        <% @me["sections"][3]["skills"] .each do |skill|%>
          <h4><%= skill["name"] %></h4>
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: <%= skill["percentage"] %>%"  aria-valuenow="<%= skill["percentage"] %>" aria-valuemin="0" aria-valuemax="100"> <%= skill["percentage"] %>%</div>
          </div>
        <% end %>
        <div class="sections text-start ">
          <h3 class=" pb-2 border-bottom my-4"><%= @me["sections"][4]["title"] %></h3>
          <div class="language-block d-flex justify-content-between">
            <% @me["sections"][4]["languages"].each do |language| %>
              <div class="language-card ">
                <h4><%= language["name"] %></h4>
                <%= image_tag(language["img"], :alt => "flag") %>
                <h4><%= language["level"] %></h4>
                <h4><%= language["precision"] %></h4>
              </div>
            <% end %>
          </div>
        </div>
        <div class="sections text-start  ">
          <h3 class=" pb-2 border-bottom my-4"><%= @me["sections"][5]["title"] %></h3>
          <div class="language-block">
            <% @me["sections"][5]["passions"].each do |passion| %>
              <div class="language-card ">
                <h4><%= passion["name"] %></h4>
                <%= image_tag(passion["img"], :alt => "flag") %>
                <h5><%= passion["text"] %></h5>
                <% if passion["name"] != "Hiking" %>
                  <h4><%= link_to passion["link name"], passion['link'] %></h4>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="sections text-start  ">
          <h3 class=" pb-2 border-bottom my-4"><%= @me["sections"][6]["title"] %></h3>
          <div class="d-flex justify-content-center">
            <a href="mailto:gille.romain@yahoo.fr"><i class="fas fa-at"></i></a>
            <a href="https://www.linkedin.com/in/romain-gille"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/romain-gille"><i class="fab fa-github"></i></div>
          </a>
        </div>
      </div>
    </div>
  </div>
